html * {
  font-size: 10pt;
  font-family: Arial;
}

h1 {
  font-size: 12pt;
}

div {
  width: 20em;
}

label {
  display: inline-block;
  width: 6em;
}

input[type="submit"] {
  background-color: #4CAF50;
  border-radius: .5em;
  border: none;
  color: white;
  padding: .75em;
  text-decoration: none;
  margin: 1em;
}

input {
  width: 12em;
}
